include README.md
include LICENSE
include CONTRIBUTING.md
include Cargo.toml
include Cargo.lock
recursive-include src *.rs
recursive-include python *.py
recursive-include examples *.py *.rs
recursive-include tests *.py
recursive-include benches *.rs
global-exclude *.pyc
global-exclude __pycache__